@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --white: hsla(0, 85%, 100%, 1);
    --dark-white: hsla(0, 5%, 80%, 1);
    --black: hsla(0, 0%, 5%, 1);
    --blue: hsla(238, 85%, 75%, 1);
    --green: hsla(146, 63%, 63%, 1);
    --dark-green: hsla(128, 16%, 29%, 1);
    --grey: hsla(56, 7%, 56%, 1);
    --shadow: hsla(0, 0%, 0%, .1);
}

/* general */

* {
    font-family: 'Segoe UI', 'Roboto','Helvetica Neue', Arial,'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: 0 solid hsla(158, 23%, 93%, .9);
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

svg, img {
    display: block;
    vertical-align: middle;
}

h1, h2, h3 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0; 
}

a {
    color: inherit;
    text-decoration: inherit;
}

button, a {
    cursor: pointer;
}

.core-colour {
    background-color: var(--black);
    color: var(--dark-white);
}

.core-layout {
    line-height: 1.625;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    max-width: 1280px;
    min-height: 100dvh;
}

.bg-effect::before {
    position: fixed;
    content: "";
    color: hsla(146, 63%, 63%, .1);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: linear-gradient(to right, currentcolor 1px, transparent 1px) 10px 0 / 95px 95px, linear-gradient(to bottom, currentcolor 1px, transparent 1px) 0 10px / 95px 95px;
    transition: all 0.5s linear 0s;
    box-sizing: border-box;
}

.bg-effect::after {
    position: fixed;
    content: "";
    filter: blur(100px) saturate(100%);
    top: 0px;
    opacity: .1;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translateZ(0px);
    background-image: radial-gradient(at 50% 50%, var(--green) 0px, transparent 60%);
}

/* header */

.intro-header {
    position: relative;
    color: var(--dark-white);
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: -.01em;
    z-index: 0;
}

.intro-title {
    position: relative;
    color: var(--dark-white);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    letter-spacing: .05em;
    margin-top: 0.75rem;
}

.intro-mark {
    color: inherit;
    padding: 0px;
    background: none;
    position: relative;
    text-shadow: -1px 0 0.5px var(--blue), 1px 0 1.5px var(--green);
}

.intro-text {
    color: var(--dark-white);
    line-height: 1.5;
    margin-top: 1rem;
    max-width: 20rem;
}

.intro-header::before, .intro-header::after, .intro-title::before, .intro-title::after {
    content: attr(data-text);
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.intro-header::before {
    left: 1.5px;
    text-shadow: var(--blue) -2.5px 0px;
}

.intro-header::after {
    left: -1.5px;
    text-shadow: var(--green) 2.5px 0px;
}

.intro-title::before {
    text-shadow: var(--shadow) 0.5px 0px;
}

.intro-title::after {
    left: 0.5px;
    text-shadow: var(--green) 1px 0px;
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 0.25rem;
}

.social-item {
    font-size: .75rem;
    line-height: 1rem;
    margin-right: 1.25rem;
}

.social-link {
    display: flex;
}

.social-name {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.social-graphic {
    color: var(--dark-white);
    width: 1.5rem;
    height: 1.5rem;
}

/* navbar */

.navbar-layout {
    display: none;
    align-items: center;
    max-width: 1280px;
    z-index: 100;
    pointer-events: none;
}

.navbar-list {
    display: flex;
    position: fixed;
    top: 1rem;
    border-radius: 3rem;
    transition: .2s ease-in-out;
    padding: 1rem 1rem;
    pointer-events: all;
}

.navbar-blur {
    background-color: var(--ho-primary);
    backdrop-filter: blur(1.5rem) saturate(1.5);
    box-shadow: inset 0 1px 0 0 hsla(160, 22%, 63%, .1);
    filter: drop-shadow(0 10px 8px hsla(0, 0%, 0%, .1));
}

.navbar-item {
    display: flex;
    position: relative;
    align-items: center;
}

.navbar-link {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    margin: 0 0.25rem;
    padding: 0.25rem 1.5rem;
}

/* main */

.main-layout {
    padding: 6rem 0;
}

/* section */

.about-layout {
    scroll-margin-top: 4rem;
    margin-bottom: 4rem;
}

.about-container {
    display: block;
    position: relative;
}

.about-container {
    margin-bottom: 3rem;
}

.about-border {
    display: block;
    position: absolute;
    top: -0.625rem;
    bottom: -0.625rem;
    left: -1rem;
    right: -1rem;
    border-radius: 0.25rem;

    background-color: var(--dark-green);
    box-shadow: inset 0 2px 0 0 hsla(160, 22%, 63%, .1);
    filter: drop-shadow(0 10px 8px var(--shadow));
}

.about-content {
    position: relative;
    z-index: 10;
}

.about-text {
    margin-bottom: 1rem;
}



@media (min-width: 640px) {

    .intro-header {
        font-size: 3rem;
        line-height: 1;
    }

    .intro-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .about-border {
        top: -1rem;
        bottom: -1rem;
        left: -1.5rem;
        right: -1.5rem;
    }
}


@media (min-width: 1024px) {
    .core-layout {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 0rem 6rem;
    }

    .main-layout {
        width: 55%;
        padding-top: 6rem;
    }

    .header-layout {
        display: flex;
        position: sticky;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
        max-height: 100dvh;
        top: 0;
        padding: 6rem 0;
    }

    .navbar-layout {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .about-layout {
        margin-bottom: 9rem;
        padding: 1rem 1.5rem;
    }
}