@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --white: hsla(0, 85%, 100%, 1);
    --dark-white: hsla(0, 5%, 80%, 1);
    --black: hsla(0, 0%, 5%, 1);
    --blue: hsla(238, 85%, 75%, 1);
    --primary: 146, 63%, 63%;
    --light-primary: hsla(160, 33%, 77%, .3);
    --secondary: 232, 17%, 35%;
    --dark-green: hsla(160, 16%, 29%, 1);
    --shadow: hsla(0, 0%, 0%, .5);

    --ho-white: hsla(var(--white), .75);
    --full-primary: hsla(var(--primary), 1);
    --ho-primary: hsla(var(--primary), .75);
    --mo-primary: hsla(var(--primary), .5);
    --lo-primary: hsla(var(--primary), .15);
    --ho-secondary: hsla(var(--secondary), .75);
    --mo-secondary: hsla(var(--secondary), .5);
    --lo-secondary: hsla(var(--secondary), .15);
}

/* general */

* {
    font-family: 'Segoe UI', 'Roboto','Helvetica Neue', Arial,'Noto Sans', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: 0 solid hsla(158, 23%, 93%, .9);
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

svg, img {
    display: block;
    vertical-align: middle;
}

h1, h2, h3 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0; 
}

a {
    color: inherit;
    text-decoration: inherit;
}

button, a {
    cursor: pointer;
}

.core-colour {
    background-color: var(--black);
    color: var(--dark-white);
}

.core-layout {
    line-height: 1.625;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    max-width: 1280px;
    min-height: 100dvh;
}

.bg-effect::before {
    position: fixed;
    content: "";
    color: hsla(146, 63%, 63%, .1);
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: linear-gradient(to right, currentcolor 1px, transparent 1px) 10px 0 / 95px 95px, linear-gradient(to bottom, currentcolor 1px, transparent 1px) 0 10px / 95px 95px;
    transition: all 0.5s linear 0s;
    box-sizing: border-box;
}

.bg-effect::after {
    position: fixed;
    content: "";
    filter: blur(100px) saturate(100%);
    top: 0px;
    opacity: .1;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translateZ(0px);
    background-image: radial-gradient(at 50% 50%, var(--full-primary) 0px, transparent 60%);
}

.about-layout, .project-layout {
    scroll-margin-top: 4rem;
    margin-bottom: 4rem;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.back-border {
    background-color: var(--ho-secondary);
    box-shadow: inset 0 2px 0 0 hsla(160, 16%, 35%, .1);
    filter: drop-shadow(0 10px 8px var(--shadow));
}

/* header */

.intro-header {
    position: relative;
    color: var(--dark-white);
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    letter-spacing: -.01em;
    z-index: 0;
}

.intro-title {
    position: relative;
    color: var(--dark-white);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
    letter-spacing: .05em;
    margin-top: 0.75rem;
}

.intro-mark {
    color: inherit;
    padding: 0px;
    background: none;
    position: relative;
    text-shadow: -1px 0 0.5px var(--blue), 1px 0 1.5px var(--full-primary);
}

.intro-text {
    color: var(--dark-white);
    line-height: 1.5;
    margin-top: 1rem;
    max-width: 20rem;
}

.intro-header::before, .intro-header::after, .intro-title::before, .intro-title::after {
    content: attr(data-text);
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.intro-header::before {
    left: 1.5px;
    text-shadow: var(--blue) -2.5px 0px;
}

.intro-header::after {
    left: -1.5px;
    text-shadow: var(--full-primary) 2.5px 0px;
}

.intro-title::before {
    text-shadow: var(--shadow) 0.5px 0px;
}

.intro-title::after {
    left: 0.5px;
    text-shadow: var(--full-primary) 1px 0px;
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 0.25rem;
}

.social-item {
    font-size: .75rem;
    line-height: 1rem;
    margin-right: 1.25rem;
}

.social-link {
    display: flex;
}

.social-name {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.social-graphic {
    color: var(--dark-white);
    width: 1.5rem;
    height: 1.5rem;
}

/* navbar */

.navbar-layout {
    display: none;
    align-items: center;
    max-width: 1280px;
    z-index: 100;
    pointer-events: none;
}

.navbar-list {
    display: flex;
    position: fixed;
    top: 1rem;
    border-radius: 3rem;
    transition: .2s ease-in-out;
    padding: 1rem 1rem;
    pointer-events: all;
    z-index: 100;
}

.navbar-blur {
    background-color: var(--ho-secondary);
    backdrop-filter: blur(1.5rem) saturate(1.5);
    box-shadow: inset 0 2px 0 0 hsla(160, 16%, 35%, .1);
    filter: drop-shadow(0 8px 6px var(--shadow));
}

.navbar-item {
    display: flex;
    position: relative;
    align-items: center;
}

.navbar-link {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    margin: 0 0.25rem;
    padding: 0.25rem 1.5rem;
}

/* main */

.main-layout {
    padding: 6rem 0;
}

/* about section */

.about-container {
    display: block;
    position: relative;
}

.about-container {
    margin-bottom: 3rem;
}

.about-content, .contact-content {
    position: relative;
    z-index: 10;
}

.about-text {
    margin-bottom: 1rem;
}

/* project section */


.project-grid {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    gap: 1rem;
}

.app-item {
    margin-bottom: 3rem;
}

.app-grid {
    display: grid;
    position: relative;
    gap: 2rem;
}

.large-grid {
    grid-template: 2fr 1fr / repeat(8 ,minmax(0, 1fr));
}

.small-grid {
    grid-template-columns: repeat(8,minmax(0, 1fr));
}

.about-container, .contact-container {
    display: block;
    position: relative;
}

.app-container {
    display: block;
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    left: -1rem;
    right: -1rem;
    border-radius: 0.375rem;
    z-index: 0;
}

.about-inner-border, .link-border, .contact-inner-border {
    display: block;
    position: absolute;
    top: -0.625rem;
    bottom: -0.625rem;
    left: -1rem;
    right: -1rem;
    border-radius: 0.25rem;
}

.app-content {
    order: 2;
    z-index: 10;
}

.large-app {
    grid-column: span 8;
}

.small-app {
    grid-column: 4 / span 4;
}

.app-link {
    color: var(--dark-white);
    display: inline-flex;
    align-items: baseline;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
}

.app-arrow {
    display: inline-block;
}

.app-graphic {
    display: inline-block;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    transition: transform .15s;
}

.software-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.software-item {
    margin: 0.5rem 0.5rem 0 0;
}

.software-text {
    color: var(--full-primary);
    background-color: var(--lo-primary);
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.25rem;
    border-radius: 5rem;
    padding: 0.25rem 0.75rem;
}

.app-image {
    transform: scaleX(1) scaleY(1);
    border-color: transparent;
    border-radius: 0.25rem;
    border-width: 2px;
    max-width: 100%;
    height: auto;
    width: auto
}

.large-image-content {
    grid-column: span 8;
}


.small-image-content {
    grid-column: span 3;
}

.large-image, .small-image {
    width: auto;
    height: 100%;
}

/* contact */

.contact-border {
    display: block;
    position: relative;
}

.contact-text {
    margin: 0 auto 1.5rem;
}

.form-input {
    color: var(--ho-white);
    display: block;
    background: transparent;
    resize: none;
    box-shadow: none;
    height: 2rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    outline: 1.5px solid var(--light-primary);
    border-radius: 0.25rem;
    margin: 0 0 1.5rem;
    padding: 1.5rem 1.5rem;
}

.form-input:focus {
    background: var(--ho-secondary);
    outline: 1.5px solid var(--ho-primary);
}

textarea.form-input {
    height: auto;
}

.form-btn {
    background-color: var(--light-primary);
    color: var(--ho-white);
    display: inline-block;
    position: relative;
    isolation: isolate;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
}

/* footer */

.footer-layout {
    margin-top: 2rem;
}

.footer-text {
    font-size: .875rem;
    line-height: 1.25rem;
}

.footer-link {
    font-weight: 500;
}

@media (min-width: 640px) {

    .intro-header {
        font-size: 3rem;
        line-height: 1;
    }

    .intro-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .link-border {
        top: -1rem;
        bottom: -1rem;
        left: -1.5rem;
        right: -1.5rem;
    }

}


@media (min-width: 1024px) {
    .core-layout {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 0rem 6rem;
    }

    .main-layout {
        width: 55%;
        padding-top: 6rem;
    }

    .header-layout {
        display: flex;
        position: sticky;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
        max-height: 100dvh;
        top: 0;
        padding: 6rem 0;
    }

    .social-link svg:hover {
        color: var(--full-primary);
    }

    .navbar-layout {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .about-layout, .project-layout, .contact-layout {
        scroll-margin-top:  6rem;
        margin-bottom: 9rem;
        padding: 1rem 1.5rem;
    }

    .app-container, .about-inner-border, .contact-inner-border {
        top: -1rem;
        bottom: -1rem;
        left: -1.5rem;
        right: -1.5rem;
    }

    .app-link:hover {
        color: var(--full-primary);
    }

    .app-link:hover .app-graphic {
        transform: translate(0.25rem, -0.25rem);
    }

    .app-grid:hover .app-image {
        border-color: var(--mo-primary);
    }

    .form-btn::after {
        background-color: var(--full-primary);
        content: '';
        position: absolute;
        height: 2.5px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        scale: 0 1;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        transform-origin: right;
        transition-property: scale;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .25s;
    }

    .form-btn:hover::after, .form-btn:focus-visible::after {
        transform-origin: left;
        scale: 1 1;
    }

    .footer-link:hover {
        color: var(--full-primary);
    }
}